.App {
  text-align: center;
  margin: 0 auto;
  //padding: 0 25px;
  .mainPage {


  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.1;
    margin: 0 auto 1.875rem;
  }
}