body {
  margin: 0;
  background-color: black;
  color: white;
}


.MainPage {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

input {
  margin: 100px auto auto auto;
}

img {
  width: 500px;
  height: 300px;
}