.container {
    border: 4px solid #608094;
    background: #16394c;
    color: white;
    border-radius: 10px;



}

.cube1 {
    border: chocolate solid 2px;
    margin: 2px;
}

.cube2 {
    border:cyan solid 2px;
    margin: 5px;
    padding: 20px;
    width: 150px;
    min-width: 110px;
    max-width: 200px;

}


.weatherRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 5px;
}

.week {
    border: yellowgreen 1px solid;
    text-transform: uppercase;
    padding: 2px;
    margin: 2px;
    width: 30px;
    height: 50px;

}