@use './src/index.scss' as css;

.product_main {
  .main_container {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    display: flex;
    justify-content: center;

    .sideBar_container {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      background-color: css.$bg_white;
      padding: 0 1rem;
    }
    .product_container {
      margin-right: auto;
      margin-left: auto;
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 75%;
      padding-right: 0.78125rem;
      padding-left: 0.78125rem;

    }

  }
}