

.sideBar {
  text-transform: capitalize;
  .sideBarTitle {
    display: flex;
    align-items: flex-start;
    h1 {
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-size: 1.675rem;
      line-height: 1.0666666667;
    }


  }



}